.eslintrc.js
.prettierrc.js
tailwind.config.js
postcss.config.js
stylelint.config.js
/src/core/thirdPart

*.sh
node_modules
*.md
*.woff
*.ttf
.vscode
.idea
dist
/public
/docs
.husky
.local
/bin
Dockerfile
